/* main css file  */

::-webkit-scrollbar{
    display:none;
}
html{
    scroll-behavior: smooth;
}
/* start variabels */
:root{
    --main-color:#10cab7;
}

/* end variabels */
/* Start components */
.special-heading{
    color:#c7c7c7;
    text-align:center;
    font-weight: 800;
    font-size:100px;
    margin:0;
    letter-spacing: -3px;
}
.special-heading + p{
    margin:-30px 0 ;
    font-size:20px;
    text-align: center;
    color:#797979;
}
@media (max-width:767px){
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin:-20px 0 0;
        font-size:16px;
    }
}


/* End components */
/* start global rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
}
body{
    font-family: 'Work Sans', sans-serif;
}
.parent{
    background-color: #eee;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* min screen */
@media (min-width:768px){
    .container{
        width:750px;
    }
    
}
/* moyen screen */
@media (min-width:992px){
    .container{
        width:970px;
    }
}
/* max screen */
@media (min-width:1200px){
    .container{
        width:1170px;
    }
}
/* end global rules */
.header{
    padding:20px;
}
.header .container{
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.logo{
    width:60px;
}
.header .links{
    position: relative;
}
.header .links .icon{
    width:30px;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.header .links:hover .icon span:nth-child(2){
    width:100%;
}
.header .links .icon span{
    margin-bottom:5px;
    background-color: rgb(0, 0, 0);
    height:3px;
}
.header .links .icon span:nth-child(1){
    width: 100%;
}
.header .links .icon span:nth-child(2){
    width: 60%;
    transition:.3s;
}
.header .links .icon span:nth-child(3){
    width: 100%;
}
.header .links ul{
    background-color:rgb(233, 233, 233);
    list-style-type:none;
    margin:0;
    padding: 0;
    min-width:200px;
    position:absolute;
    right:0;
    top:calc(100% + 20px);
    display: none;
}
.header .links ul::before{
    content: '';
    position:absolute;
    border:10px solid;
    border-color:transparent transparent rgb(233, 233, 233) transparent;
    top:-20px;
    right:5px;
}
.header .links:hover ul{
    display: block;
}

.header .links ul li{
    padding: 15px;
}

.header .links ul li a {
    color:black;
    text-decoration:none;
    transition: .4s;
}
.header .links ul li:not(:nth-child(4)){
    border-bottom:1px rgb(185, 185, 185) solid;
}

.header .links ul li a:hover{
    padding-left:10px;
}
/* Start Landing */
.landing{
    background-image:url('../img/back.jpg');
    background-size: cover;
    height:calc(100vh - 64px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .intro-text{
    padding: 20px;
    text-align: center;
}
.landing .intro-text h1{
    margin:0;
    color:var(--main-color);
    font-weight: bolder;
    font-size: 45px;
}
.landing .intro-text p{
    font-size: 19px;
    line-height: 1.8;
}

/* End Landing */
/* Start features */
.features{
    padding-top:60px;
    padding-bottom: 60px;
}
.features .container{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:20px;
}
.features .container .feat{
    padding: 20px;
    text-align: center;
    transition: .3s;
    background-color: rgba(233, 233, 233, 0.445);
}
.features .container .feat:hover{
    box-shadow: 0px 0px 4px 0px rgba(77, 77, 77, 0.432);
}
.features .container i{
    color: var(--main-color);
}
.features .container h3{
    font-weight: 800;
    margin: 30px 0;
}
.features .container p{
    line-height: 1.6;
    color:rgb(77, 77, 77);
    font-size: 17px;
}
@media (max-width:991px){
    .features .container{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}

/* End features */

/* Start Services */
.Services .services-content{
    padding-top:60px;
    padding-bottom:60px;
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(290px,1fr));
    grid-gap:20px;
    margin-top: 40px;
}
.svr{
    display: flex;
    margin-bottom: 20px;
    transition: .3s;
}
.svr .text{
    padding:8px;
}
.svr:hover{
    box-shadow: 0px 0px 4px 0px rgba(201, 201, 201, 0.692);
}
@media (max-width:767px) {
    .svr{
        flex-direction:column;
        text-align: center;
    }
}
.svr i {
    color:var(--main-color);
    font-size:30px;
    margin: 0.4em 15px;
}
.svr p{
    color:#444;
    font-weight: 300;
    line-height: 1.6;
}
.services-content .col .graphic{
    width:200px;
    background-color: rgb(238, 238, 238);
    height: 200px;
    margin:40px 1px;
    position: relative;
}
.services-content .col:nth-child(3){
    display: flex;
    justify-content: center;
}

.services-content .col .graphic::after{
    content: '';
    position: absolute;
    width:50px;
    height: calc(100% + 50px);
    background-color: #2c4755;
    right: -30px;
    top:-25px;
    z-index: -1;
    
}
@media (max-width:991px){
    .graphic{
        display: none;
    }
    .Services .services-content{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}
/* End Services  */

/* Start Portfolio */
.Portfolio{
    padding-top:60px;
    padding-bottom:60px;
    background-color: rgb(236, 236, 236);
}
.Portfolio .Portfolio-content{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:20px;
    margin-top: 100px;
}
.Portfolio-content .card{
    background-color: white;
}
.Portfolio-content .card .info{
    padding:20px;
    line-height: 1.6;

}
.Portfolio-content .card .info h3{
    margin:0;
}

.Portfolio-content .card > img{
    width:100%;
    height:60%;
}
@media(max-width:991px){
    .Portfolio-content .card{
        padding-bottom: 30px;
    }
    .Portfolio .Portfolio-content{
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}
/* End Portfolio */

/* Start About */
.About {
    padding-top: 60px;
    padding-bottom: 60px;
}
.About .About-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin-top: 100px;
}
.About .About-content .board{
    width:250px;
    background-color: rgb(231, 231, 231);
    height: 325px;
    position: relative;
    margin-bottom: 100px;
}
@media (max-width:991px) {
    .About .About-content .board{
        display: none;
    }
}
.About .About-content .board::before {
    content:'';
    position:absolute;
    width:80px;
    background-color: #e2e2e26b;
    height:calc(100% + 80px);
    top:-40px;
    left: -20px;
    z-index: -1;
}
.About .About-content .board::after {
    content:'';
    position:absolute;
    width:120px;
    height:300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    right: -150px;
    top:-40px;
    z-index: -1;
}
.About .About-content .text{
    max-width:500px;
    
}
@media (max-width:991px) {
    .About .About-content .text{
        text-align: center;
        width: 800px;
        margin: auto;
    }
}
.About .About-content .text p:first-of-type{
    font-weight:600;
    line-height: 2;
    margin-bottom: 20px;
    font-size: 20px;
}
.About .About-content .text hr{
    background-color: var(--main-color);
    width:80%;
    height: 5px;
    border-radius:5px;
    border: none;
}
.About .About-content .text p:last-of-type{
    line-height: 2;
    color: #777;
}
/* End About */
/* Start Contact */
.Contact{
    padding-top:60px;
    padding-bottom:60px;
    background-color: rgb(236, 236, 236);
}
.Contact .Contact-content{
    padding:60px 0;
    text-align: center;
}
.Contact .Contact-content .label{
    font-size: 30px;
    font-weight: 800;
    color:#2c4755;
    margin-bottom: 15px;
}
.Contact .Contact-content .link{
    font-size: 30px;
    font-weight: 800;
    color:var(--main-color);
    text-decoration-line: none;
}
.Contact .Contact-content .social{
    display: flex;
    justify-content: center;
    margin-top: 16px;
}
.Contact .Contact-content .social i{
    margin:0 5px;
    cursor:pointer;
}
@media (max-width:991px){
    .Contact .Contact-content .link,
    .Contact .Contact-content .label{
        font-size: 20px;
    }
    .Contact .Contact-content .social{
        flex-direction: column;
        padding:10px 0;
    }
    .Contact .Contact-content .social i{
        margin:15px 5px;
    }
}
.fotter{
    background-color: #2c4755;
    color: white;
    padding:20px 30px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;

}
.fotter span{
    color:var(--main-color);
    font-weight: 800;
}
@media (max-width:991px){
    .fotter{
        background-color: #2c4755;
        color: white;
        padding:20px 30px;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
    }
}
/* End Contact */
/* Start up button */

.up a{
    background-color: var(--main-color);
    color: white;
    width:60px;
    height:60px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bolde;
    position:fixed;
    margin:20px;
    right:0;
    text-decoration: none;
    bottom: 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .6;
}
/* End up button */


/* zozo */

